{% extends 'landingsite/base.html' %}
{% load static %}

{% block content %}

<!-- Page - Case Studies -->
<div class="page-casestudies">
    
    <!-- Page Banner -->
    <div class="page-banner" style="background: url({% static 'light_castel/img/page_banners/about_page_banner_bg.png' %}) no-repeat center;">
        <h1 class="page-banner-title font-Roboto_Slab">Case Studies</h1>
    </div>
    <!-- End Page Banner -->

    <!-- Page - Content -->
    <section class="section section-casestudies-content">
        <div class="container-fluid">
            <div class="row">    

                <!-- Case Studies Content Column -->
                <div class="col-sm-8" id="__Blog__Article__Holder">
                    <div class="article-blog-details">
                        <!-- Casestudies Mini Title -->
                        <h5 class="casestudies-mini-title m-t-0">Business Analysis</h5>
                        <!-- End Casestudies Mini Title -->

                        <!-- Casestudies Title -->
                        <h2 class="casestudies-title">{{expanded_card.title}}</h2>
                        <!-- End Casestudies Title -->

                        <!-- Casestudies Article Banner -->
                        <div class="casestudies-article-banner">
                            <div class="row">
                                
                                <div class="col-sm-7">
                                    <a href="#" class="thumbnail">
                                        <img src="{{expanded_card.cover_image.url}}" alt="" class="article-cover-img">
                                    </a>
                                </div>

                                <div class="col-sm-5">
                                    <ul class="list-unstyled article-banner-list">
                                        <li>100,000 People Served</li>
                                        <li>20% Cost Savings</li>
                                        <li>Rose to 3rd in the Industry</li>
                                    </ul>
                                </div>

                            </div>

                            <div class="article-content text-justify">{{expanded_card.blog_body | safe}}</div>

                        </div>
                        <!-- End Casestudies Article Banner -->
                    </div>
                </div>
                <!-- End Case Studies Content Column -->

                <!-- Case Studies Read More Column -->
                <div class="col-sm-4">
                    <div class="article-list-wrapper">
                        <!-- Casestudies Mini Title -->
                        <h5 class="casestudies-mini-title m-t-0">Read More</h5>
                        <!-- End Casestudies Mini Title -->
                        
                        <!-- Casestudies Article Lists -->
                        <ul class="list-unstyled article-lists">
                            {% for card in case_studies %}
                            <li>
                                <a href="http://localhost:8000/case-studies-json/{{card.id}}" class="article-list-link clearfix blog-card">

                                    <div class="article-list-img thumbnail">
                                        <img src="{{card.image.url}}" alt="Article Image">
                                    </div>
                                    
                                    <div class="article-list-des">{{card.title}}</div>

                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- End Casestudies Article Lists -->
                    </div>
                    
                </div>
                <!-- End Case Studies Read More Column -->

            </div>
        </div>
    </section>
    <!-- End Page - Content -->

</div>
<!-- End Page - Case Studies -->

{% endblock content %}